<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Daxil ol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Geri qayıt düyməsi -->
    <button class="back-button" onclick="history.back()">Geri qayıt</button>

    <div class="container">

        <h2>Daxil ol</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <div class="flash-message flash-error">{{ msg }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Şifrə" required>

            <label style="margin-bottom: 30px;">
                <input type="checkbox" name="remember_password"> Şifrəni yadda saxla
            </label>

            <!-- Daxil ol düyməsi -->
            <button type="submit" class="login-button">Daxil ol</button>
        </form>

        <div class="link">
            <p>Hesabınız yoxdur? <a href="{{ url_for('register') }}">Qeydiyyatdan keçin</a></p>
        </div>
    </div>

</body>
</html>