

<!DOCTYPE html>
<html>
<head>
    <title>Şifrəmi unutdum</title>
</head>
<body>
    <h1>Şifrəmi unutdum</h1>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <form method="POST">
        <input type="email" name="email" placeholder="Emailinizi daxil edin" required><br>
        <button type="submit">Sıfırlama linki yarat</button>
    </form>

    <p><a href="{{ url_for('login') }}">Geri login səhifəsinə</a></p>
</body>
</html>