<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">



        <!-- Başlıq -->
        <h2>Qeydiyyat</h2>

        <!-- Flash mesajlar -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, msg in messages %}
              <div class="flash-message flash-{{ category }}">{{ msg }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- Qeydiyyat formu -->
        <form method="POST">

            <!-- Ad -->
            <input type="text" name="username" placeholder="Ad" required>

            <!-- Soyad -->
            <input type="text" name="surname" placeholder="Soyad" required>

            <!-- Email -->
            <input type="email" name="email" placeholder="Email" required>

            <!-- Şifrə -->
            <input type="password" id="password" name="password" placeholder="Şifrə" required>

            <!-- Şifrəni təkrar -->
            <input type="password" id="confirm" name="confirm" placeholder="Şifrəni təkrar et" required>
            
            <!-- Checkbox -->
            <label style="margin-bottom: 35px; font-size: 1rem;">
                <input type="checkbox" name="remember_password">
                Şifrəni yadda saxla
            </label>

            <!-- Göndər düyməsi -->
            <button type="submit">Qeydiyyatdan keç</button>
        </form>

        <!-- Link - artıq hesabı varsa -->
        <div class="link">
            Artıq hesabın var? <a href="{{ url_for('login') }}">Daxil ol</a>
        </div>
    </div>

    <!-- Şifrəni göstərmək üçün JS -->
    <script>
        function togglePassword() {
            const pw = document.getElementById("password");
            pw.type = pw.type === "password" ? "text" : "password";
        }

        function toggleConfirm() {
            const cpw = document.getElementById("confirm");
            cpw.type = cpw.type === "password" ? "text" : "password";
        }
    </script>
</body>
</html>
