<!DOCTYPE html>
<html>
<head>
    <title>Yeni şifrə təyin et</title>
</head>
<body>
    <h1>Yeni şifrə təyin et</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="password" name="password" placeholder="Yeni şifrə" required><br>
        <input type="password" name="confirm" placeholder="Şifrəni təkrar et" required><br>
        <button type="submit">Şifrəni dəyiş</button>
    </form>
  </body>
</html>